<div id="data">
    <img src="https://img.busy.org/@{{ username }}" height="60px" width="60px" alt="Profile picture">
    <div id="informations">
        <div id="short">
            <h3>{{ account.meta.profile.name }}</h3>
            <h5>({{ account.reputation }})</h5>
        </div>
        <div id="follow">
            <a href="?page=profile&sub=followers">{{ followerCount }} followers</a>
            <p>•</p>
            <a href="?page=profile&sub=following">{{ followingCount }} following</a>
        </div>
        <a id="link" href="{{ account.meta.profile.website }}" target="_blank">Website</a>
    </div>
</div>
<p id="description">{{ account.meta.profile.about }}</p>
<div id="subMenu">
    <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Games</a><a
        routerLink="liked" routerLinkActive="active">Liked</a><a
        routerLink="comments" routerLinkActive="active">Comments</a>
</div>
<router-outlet></router-outlet>